.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    border: 0;
    background: transparent;
}
.text-dark {
    color: #222!important;
}
.p-1 {
    padding: .25rem!important;
}
.card {
    margin: 5px 0;    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card .row {
    display: flex;
}
.card .row .col:first-of-type{
    flex: 1
} 

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.border-0 {
    border: 0!important;
}

.btn-outline-dark {
    padding: 5px;
    color: #222;
    background-color: initial;
    background-image: none;
    border-color: #222;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
